{% extends "base_templates/default.html" %}
{% load i18n cmsplugin_blog_tags %}

{% block left-col %}

<h1>Nyheter for {{ month|date:"F Y" }}</h1>

{% for object in object_list %}
    {% with object|get_entry_title:request as title %}
	<p>{{ object.pub_date|date:"d b Y" }}<br/><a href="{{ title.get_absolute_url }}">{{ title }}</a><br/>{{ title.excerpt }}</p>
	{% endwith %}
{% empty %}
	<p>{% trans "No entry for this month" %}<p>
{% endfor %}

{% endblock %}

{% block right-col %}


{% endblock %}