{% load i18n placeholder_tags simple_translation_tags djangocms_utils_tags %}
{% for entry in latest|annotate_with_translations %}
    {% with entry|get_preferred_translation_from_request:request as title %}
    {% with entry.placeholders|choose_placeholder:"excerpt" as excerpt %}
    <p>{{ entry.pub_date|date:"d b Y" }}<br/><a href="{{ title.get_absolute_url }}">{{ title }}</a>
       {{ entry|render_language_choices:request|safe }}
    </p>
    {% render_placeholder excerpt %}
    {% endwith %}
    {% endwith %}
{% empty %}
	<p>{% trans "No entries" %}</p>
{% endfor %}
